.form-design-1 {
    padding: 15px;
    background: white;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
}

section.inner-wrapper-contetent {
    padding-top: 15px;
    padding: 15px;
}

.form-design-1 h4 {
    margin-top: 0;
    font-weight: 600;
    color: #3c8dbc;
}

.input-pic-chk {
    display: flex;
    justify-content: space-between;
}

.input-pic-chk img {
}

.pic-radio img {
    clear: both;
    display: block;
    height: 40px;
    margin-bottom: 7px;
}

.form-design-1 input {
    font-weight: 600;
    height: 51px;
    width: 25px;
}

.pic-rd-wrp {
    background: #f5fbff;
    border: 1px solid #c5eaff;
    padding: 5px 15px;
    display: flex;
    max-width: 48%;
    flex: 0 48%;
}

.pic-radio p {
    margin: 0;
    font-weight: 600;
}

.pic-radio {
    padding-left: 15px;
}

.basic-radio {
    background: #f5fbff;
    border: 1px solid #c5eaff;
    padding: 11px 15px;
    display: flex;
    max-width: 48%;
    flex: 0 48%;
    align-items: center;
}

.basic-radio-wrp {
    display: flex;
    justify-content: space-between;
}

.basic-radio input {
    margin-right: 15px;
}

.go-btn {
    background-image: radial-gradient(farthest-corner at 40px 40px, #0cff14 0%, #008f3c 100%);
    font-size: 25px;
    border: 3px solid #ffffff;
    box-shadow: 0 0 4px 2px #c7c7c7;
    border-radius: 100px;
    color: #fff;
    width: 60px;
    height: 60px;
    position: relative;
    top: 34px;
}

.fvt-box {
    text-align: center;
    padding: 15px;
    background: white;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    display: block;
}

.fvt-box h5 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
}

.fvt-box img {
    height: 100px;
}

.tab-analysis {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: -15px;
    margin-right: -15px;
}

.tab-analysis li img {
    width: 60px;
    clear: both;
}

.tab-analysis li span {
    font-size: 16px;
    display: block;
    color: #333;
}

.tab-analysis li {
    flex: 1;
    text-align: center;
    padding: 0 15px;
}

.common-box {
    padding: 15px;
    background: white;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
}

.tab-analysis li a {
    display: block;
    padding: 15px;
    background: white;
    border: 1px solid #cfcfcf;
    margin-bottom: 15px;
    min-height: 115px;
}

.go-btn.no-top {
    top: 22px;
    width: 40px;
    height: 40px;
    font-size: 18px;
}

/*****************************/
.rSlider {
    position: relative;
}

.rSlider .slide {
    background: #3c8dbc;
    height: 5px;
    width: 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

input[type=range] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #ddd;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3c8dbc;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #3c8dbc;
    cursor: pointer;
}

.slide-rge {
    position: relative;
}

.slide-min-max {
    display: flex;
    justify-content: space-between;
    color: #a5a5a5;
}

span.value-range {
    display: block;
    text-align: center;
    font-weight: 700;
}

.name-range-label {
    margin: 0;
    font-weight: 700;
}

.list-row {
    display: flex;
    align-items: center;
}
